html {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    margin-top: 10vh;
}

#quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}